*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #f5f5f5;
  color: black;
}
.container{
  max-width: 1300px;
  width: 100%;
  margin: auto
}

.info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


section{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-item:center;
}

h1{
   font-size: 50px;
   line-height: 60px;
   text-align: center;
   margin-bottom: 40px;
}

.cards{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  flex: 0 0 calc(33.33%  - 20px );
  max-width: calc(33.33%  - 20px );
  width:100%;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: .3s;
  border: 2px solid transparent;
 
}

.highlight-pink {
  color: #ee2042;
}

.highlight-yellow {
  color: yellow;
}

.card {
  position: relative;
  /* Add other styles as needed */
}
.button {
  background-color: #2359fb; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;

}
.card .top-right {
  position: absolute;-block;
  font-size: 16
  top: 10px;
  right: 10px;
}

.card:hover{
  border-color: blue;
  }

.status {
  font-weight: bold;
}

.active {
  color: green;
}

.inactive {
  color: red;
}

/* Add this CSS to your stylesheet */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensures it's on top of everything */
}
.card-details .button {
  margin-right: 50px;
  /* Adjust as needed to control the space between buttons */
}

.card-details {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  width: 70%;
  height: 60%;
  text-align: left;
  position: relative;
}
.card-details h2 {
  font-size: 36px;
  padding: 15px 0;
}

.card-details button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}
.scroll-container {
  max-height: 300px; /* Adjust the height as needed */
  overflow: auto;
}
.card-details .second {
  font-weight: bold;
  color: #007BFF;
  display: flex;
  /* Add any other styles you need for elements with the second class */
}


.card-details p{
  padding-right: 10px;
}

/* Additional styling can be added as needed */


@media(max-width:969px)
{
  section{
    padding: 20px 0px;
      }
    h1{
      font-size: 30px;
      line-height:40 px;

    }
    .card{
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
}


@media(max-width: 600px)
{

    .card{
      flex: 0 0 100%;
      max-width: 100%; 
    }
}